.bathroom-background-1-1 {
    background-image: url('../../../assets/images/bathroom/bathroom-background-1-1.jpg');
}
.bathroom-background-1-2 {
    background-image: url('../../../assets/images/bathroom/bathroom-background-1-2.jpg');
}
.bathroom-background-2-1 {
    background-image: url('../../../assets/images/bathroom/bathroom-background-2-1.jpg');
}
.bathroom-background-2-2 {
    background-image: url('../../../assets/images/bathroom/bathroom-background-2-2.jpg');
}
.bathroom-background-3-1 {
    background-image: url('../../../assets/images/bathroom/bathroom-background-3-1.jpg');
}
.bathroom-background-3-2 {
    background-image: url('../../../assets/images/bathroom/bathroom-background-3-2.jpg');
}