@import './bathroom/bathroom.css';
@import './counters/counters.css';
@import './electronics/electronics.css';
@import './furnishings/furnishings.css';
@import './kitchen/kitchen.css';
@import './renovation/renovation.css';

.category-block {
    height: 0;
    padding: 0; /* remove any pre-existing padding, just in case */
    padding-bottom: calc(2/3 * 100%); /* for a 2:3 aspect ratio */
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.category-block:hover {
    background-color: #25AE88;
    background-image: none;
    transition: 0.5s linear;
    cursor: pointer;
}

.category-block:hover .category-box {
    display: block;
}

.category-box {
    display: none;
}

.category-name {
    color: white;
}