.kitchen-background-1-1 {
    background-image: url('../../../assets/images/kitchen/kitchen-background-1-1.jpg');
}
.kitchen-background-1-2 {
    background-image: url('../../../assets/images/kitchen/kitchen-background-1-2.jpg');
}
.kitchen-background-2-1 {
    background-image: url('../../../assets/images/kitchen/kitchen-background-2-1.jpg');
}
.kitchen-background-2-2 {
    background-image: url('../../../assets/images/kitchen/kitchen-background-2-2.jpg');
}
.kitchen-background-3-1 {
    background-image: url('../../../assets/images/kitchen/kitchen-background-3-1.jpg');
}
.kitchen-background-3-2 {
    background-image: url('../../../assets/images/kitchen/kitchen-background-3-2.jpg');
}