.media-background-1-1 {
    background-image: url('../../../assets/images/media/media-background-1-1.jpg');
}
.media-background-1-2 {
    background-image: url('../../../assets/images/media/media-background-1-2.jpg');
}
.media-background-2-1 {
    background-image: url('../../../assets/images/media/media-background-2-1.jpg');
}
.media-background-2-2 {
    background-image: url('../../../assets/images/media/media-background-2-2.jpg');
}
.media-background-3-1 {
    background-image: url('../../../assets/images/media/media-background-3-1.jpg');
}
.media-background-3-2 {
    background-image: url('../../../assets/images/media/media-background-3-2.jpg');
}