.renovation-background-1-1 {
    background-image: url('../../../assets/images/renovation/renovation-background-1-1.jpg');
}
.renovation-background-1-2 {
    background-image: url('../../../assets/images/renovation/renovation-background-1-2.jpg');
}
.renovation-background-2-1 {
    background-image: url('../../../assets/images/renovation/renovation-background-2-1.jpg');
}
.renovation-background-2-2 {
    background-image: url('../../../assets/images/renovation/renovation-background-2-2.jpg');
}
.renovation-background-3-1 {
    background-image: url('../../../assets/images/renovation/renovation-background-3-1.jpg');
}
.renovation-background-3-2 {
    background-image: url('../../../assets/images/renovation/renovation-background-3-2.jpg');
}